        body {
            margin: 0;
            background-color: #f1f1f1;
            height: 100%;
        }
        
        header {
            width: 100%;
            height: 150px;
            background-color: #51bacf;
        }
        
        .container-name {
            width: 70%;
            height: 150px;
            background-color: rgba(79, 205, 226, 255);
            margin-left: 15%;
            margin-right: 15%;
            display: inline-block;
        }
        
        .text-name {
            font-family: cursive;
            font-weight: bold;
            font-size: 40px;
            margin-left: 30px;
            margin-top: 35px;
            color: #2d6975;
        }
        
        .text-1 {
            font-family: cursive;
            font-weight: bold;
            font-size: 23px;
            margin-left: 30px;
            color: #2d6975;
        }
        
        hr {
            margin: 0;
            height: 6px;
            border: 0;
            box-shadow: inset 0 6px 6px 0px #2d6975;
        }
        
        .hr-style {
            width: 97%;
            margin: 0 auto;
        }
        
        main {
            width: 70%;
            height: 150px;
            background-color: rgba(79, 205, 226, 255);
            margin-left: 15%;
            margin-right: 15%;
            display: inline-table;
            background-color: white;
            height: 80%;
            position: relative;
        }
        
        .words {
            width: 300px;
            height: 30px;
            background-color: #2d6975;
            display: flex;
            margin-left: 2%;
            text-align: center;
            margin-top: -20px;
            position: absolute;
            border-radius: 40px;
            color: #fff;
            font-size: 19px;
            align-items: center;
            justify-content: center;
        }
        
        .text-2 {
            color: #FFFFFF;
            font-family: cursive;
            margin-top: 6px;
            font-size: 16px;
            padding: 0px 4px;
            text-decoration: none;
        }
        
        .text-2 a {
            text-decoration: none;
        }
        
        .text-topicos {
            color: black;
            font-family: cursive;
            font-size: 2em;
            margin-top: 1em;
            font-weight: bold;
            margin-left: 30px;
            height: 10%;
        }
        
        .ul1 {
            list-style-type: none;
            font-family: cursive;
            font-size: 14pt;
        }
        
        .li1 {
            padding: 8px;
            margin-left: -16px;
        }
        
        .text-list {
            width: 100%;
            display: flex;
            position: relative;
        }
        
        .container-img {
            width: 20%;
            max-width: 30%;
            height: 84%;
            border-style: solid;
            background-size: cover;
            background-repeat: initial;
            background-image: url(../img/avatar.jpg);
            position: absolute;
            display: flex;
            margin-left: 76%;
        }
        /*Fomulario*/
        
        legend {
            font-family: cursive;
        }
        
        .input {
            width: 100%;
            padding: 12px;
            border: 1px solid rgb(0, 0, 0);
            resize: vertical;
            margin-left: -5em;
            height: 1px;
            font-family: cursive;
        }
        
        .area {
            width: 100%;
            padding: 12px;
            border: 1px solid rgb(0, 0, 0);
            resize: vertical;
            margin-left: -5em;
            font-family: cursive;
        }
        
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
            margin-top: -3px;
            font-family: cursive;
        }
        
        .btn {
            padding: 12px 20px;
            border: none;
            cursor: pointer;
            float: right;
            font-family: cursive;
            font-weight: bold;
            background-color: #51bacf;
            border-style: none;
            margin-right: 3em;
            width: 3em;
            color: black;
            font-weight: bold;
            height: 1em;
        }
        
        .container-form {
            position: relative;
            padding: 20px;
            display: block;
            margin-left: 13px;
            margin-right: 13px;
        }
        
        .coluna-txt {
            float: left;
            width: 25%;
            margin-top: 6px;
        }
        
        .coluna-input {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
        
        .linha:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .container-li {
            background-color: transparent;
            width: 100%;
            height: 30%;
            position: relative;
        }
        
        li {
            padding: 1px;
            margin-left: 7px;
        }
        
        ul {
            font-family: cursive;
        }
        
        footer {
            width: 100%;
            height: 120px;
            background: #909091;
            position: relative;
            bottom: 0px;
        }
        
        .footer-text {
            color: #FFFFFF;
            font-size: 25px;
            margin-left: 16%;
        }
        
        .footer-text a {
            color: #FFFFFF;
            padding: 14px;
            font-size: 18px;
            font-family: cursive;
            margin-top: 10px;
        }
        
        @media screen and (max-width: 1000px) {
            main {}
            .container-img {
                margin-left: 66%;
                width: 27%;
            }
            .text-name {
                font-size: 27px;
            }
            .li1 {
                font-size: 13pt;
            }
            .area {
                margin-left: 3em;
                width: 79%;
            }
            .input {
                margin-left: 3em;
                width: 79%;
            }
            .btn {
                margin: 0;
            }
        }
        
        @media screen and (max-width: 500px) {
            main {
                width: 100%;
                margin: 0;
            }
            .container-img {
                margin-left: 60%;
                width: 41%;
                height: 64%;
                background-size: cover;
                margin-top: 8%;
            }
            .text-name {
                font-size: 30px;
            }
            .li1 {
                font-size: 10pt;
            }
            .text-topicos {
                font-size: 18pt;
            }
            .words {
                width: 200px;
                height: 3%;
                margin-top: -5%;
                align-items: baseline;
                margin-left: 20%;
            }
            .text-2 {
                font-size: 10px;
            }
            .input {
                margin-left: 1em;
                width: 79%;
            }
            .area {
                margin-left: 1em;
                width: 79%;
            }
            .btn {
                margin-right: 5px;
            }
            .footer-text a {
                padding: 0;
            }
            .container-name {
                width: 100%;
                margin: 0;
            }
        }